html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(27, 114, 27);
}

header nav {
    float: right;    
}

header nav li {
    display: inline;
}

#contactText {
    width: 400px;
    height: 300px;
}

#contactSection {
    margin: 10px 0px;
}

.container {
    width: 989px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.inputArea {
    margin: 10px 0px;
}