html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(27, 114, 27);
}

header nav {
    float: right;    
}

a {
    color: rgb(27, 114, 27);
}

#contactSection, #contactSection input {
    margin: 10px 0px;
}

#contactSection textarea {
    width: 400px;
    height: 300px;
}

#contactSection input[type=submit] {
    border-radius: 15px;
    font-size: 18px;
    color: white;
    background-color: rgb(27, 114, 27);
}

.container {
    width: 989px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

